# Node
frontend/node_modules/
frontend/dist/
frontend/.angular/

# Laravel
backend/vendor/
backend/.env
backend/storage/logs/
backend/storage/framework/
backend/storage/api-docs/

# OS
.DS_Store

# IDE
.vscode/
.idea/

