<app-header title="個人設定"></app-header>

<ion-content class="ion-padding">
  <div class="profile-header">
    <h2 class="title">
      <span>Hi, {{ userName }}</span>
      <ion-icon name="barbell-outline"></ion-icon>
    </h2>
  </div>
  
  <!-- 修改密碼區塊 -->
  <ion-list inset>

    <!-- 修改密碼 -->
    <ion-item button (click)="openChangePassword()">
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-label>修改密碼</ion-label>
    </ion-item>

  <!-- 登出 -->
    <ion-item button (click)="logout()">
      <ion-icon name="exit-outline" slot="start"></ion-icon>
      <ion-label>登出</ion-label>
    </ion-item>

  </ion-list>

</ion-content>
