<ion-content fullscreen class="login-page">

  <!-- 背景漸層 -->
  <div class="hero-section">
    <h1 class="welcome-title">
      Gym <span>Tracker</span>
    </h1>

    <p class="subtitle">
      Aiming for Muscle Master
    </p>
  </div>

  <!-- 卡片區 -->
  <div class="card-section">

    <div class="card-box">

      <!-- 初始 -->
      <ng-container *ngIf="mode === 'init'">
        <ion-button expand="block" shape="round" (click)="switchMode('login')">
          登入
        </ion-button>

        <ion-button
          expand="block"
          shape="round"
          fill="outline"
          class="ion-margin-top"
          (click)="switchMode('register')">
          註冊
        </ion-button>
      </ng-container>

      <!-- 登入 -->
      <form *ngIf="mode === 'login'" [formGroup]="loginForm">

        <ion-item lines="none">
          <ion-input placeholder="Email" type="email" formControlName="email"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-input placeholder="密碼" type="password" formControlName="password"></ion-input>
        </ion-item>

        <ion-button
          expand="block"
          shape="round"
          class="ion-margin-top"
          [disabled]="loginForm.invalid"
          (click)="login()">
          登入
        </ion-button>

        <ion-button fill="clear" expand="block" (click)="backToInit()">
          返回
        </ion-button>
      </form>

      <!-- 註冊 -->
      <form *ngIf="mode === 'register'" [formGroup]="registerForm">

        <ion-item lines="none">
          <ion-input placeholder="Email" type="email" formControlName="email"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-input placeholder="密碼" type="password" formControlName="password"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-input placeholder="使用者名稱" type="text" formControlName="name"></ion-input>
        </ion-item>

        <ion-button
          expand="block"
          shape="round"
          class="ion-margin-top"
          [disabled]="registerForm.invalid"
          (click)="register()">
          註冊
        </ion-button>

        <ion-button fill="clear" expand="block" (click)="backToInit()">
          返回
        </ion-button>
      </form>

    </div>
  </div>

</ion-content>