// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

.person-circle {
    color: #ffffff;
    font-size: 1.75rem;
  }
:root {
    --ion-background-color: #000;
    --ion-text-color: #fff;
  }
  